.top-container{
    background-color: #F675A8;
    height:200px;
    width:200px;
    border:solid 10px;
    padding:20px;
}
body{
    margin:0;
}
.middle-container{
    height: 200px;
    width:200px;
    background-color: red;
    border: solid 20px;
    margin-left: 260px;

}
.bottom-container{
    height: 200px;
    width:200px;
    background-color: yellow;
    border: solid 10px;
    margin-left: 500px;

}